{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-4" style="text-align: center; margin-left: 365px">
                <div class="page-header" style="font-size: large">
                    Reset Password
                </div>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}