{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 3%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">Sign Up</h3>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" style="margin-left: 280px">Submit</button>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}